{% extends 'layout-admin.html' %}

{% block title %}
Admin | Products Management
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/admin/rooms-management/" />
<link rel="alternate" href="https://tranhslogan.vn/admin/rooms-management/" hreflang="vi" />
<link rel="alternate" href="https://tranhslogan.vn/admin/rooms-management/" hreflang="x-default" />
{%endblock%}

{% block content %}
<nav class="navbar navbar-main navbar-expand-lg  px-0 mx-4 shadow-none border-radius-xl z-index-sticky " id="navbarBlur"
    data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm">
                    <a class="text-white" href="javascript:;">
                        <i class="ni ni-box-2"></i>
                    </a>
                </li>
                <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white"
                        href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page">Products Management</li>
            </ol>
            <h6 class="font-weight-bolder mb-0 text-white">Products Management</h6>
        </nav>
        <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
            <a href="javascript:;" class="nav-link p-0">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="../admin/login" class="nav-link text-white font-weight-bold px-0" id="logout-button">
                        <i class="fa fa-user me-sm-1"></i>
                        <span class="d-sm-inline d-none">Đăng Xuất</span>
                    </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-2">
                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version"
                            onclick="darkMode(this)">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid py-4">
    <div class="d-sm-flex justify-content-end">
        <div class="d-flex ">
            <a href="javascript:;" class="btn btn-icon btn-outline-white" id="create-btn" data-bs-toggle="modal" data-bs-target="#productModal">
                New Product
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead class="thead-light">
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">
                                    <div style="height: 450px; display: flex; justify-content: center; align-items: center;">
                                        Đang tải dữ liệu...
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h3 class="font-weight-bolder text-primary text-gradient" id="product-modal-title">New Product</h3>
                            <p class="mb-0" id="product-modal-description">Enter information to create a new product</p>
                        </div>
                        <div class="card-body pb-3">
                            <form id="create-product-form" role="form text-left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>SKU</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="sku" id="input-sku" placeholder="SKU (Ex: TS01)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Title</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="title" id="input-title" placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Type</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="type" id="input-type" placeholder="Type">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Slug</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="slug" id="input-slug" placeholder="Slug">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Canvas Price</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="canvas_price" id="input-canvas-price" placeholder="Size | Price (Ex: 30x40 | 120000)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mica Price</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="mica_price" id="input-mica-price" placeholder="Size | Price (Ex: 30x40 | 150000)">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Images</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="images" id="input-images" placeholder='Images (Ex: ["img1.jpg", "img2.jpg"])'>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Description</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="description" id="input-description" placeholder="Description">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Publish</label>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" type="checkbox" name="publish" id="publish-switch">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Discount</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="discount" id="input-discount" placeholder="Discount">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" id="save-btn" class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-4 shadow-lg">
                <div class="modal-body p-4">
                    <div class="row g-4">
                        <div class="col-md-5 text-center">
                            <img id="detail-image" src="" class="img-fluid rounded-3 shadow-sm" alt="Product Image">
                        </div>
                        <div class="col-md-7">
                            <h4 id="detail-id" class="mb-3">Product Details</h4>
                            <p><strong>Hash:</strong> <span id="detail-hash"></span></p>
                            <p><strong>SKU:</strong> <span id="detail-sku"></span></p>
                            <p><strong>Title:</strong> <span id="detail-title"></span></p>
                            <p><strong>Type:</strong> <span id="detail-type"></span></p>
                            <p><strong>Slug:</strong> <span id="detail-slug"></span></p>
                            <p><strong>Canvas Price:</strong> <span id="detail-canvas-price"></span></p>
                            <p><strong>Mica Price:</strong> <span id="detail-mica-price"></span></p>
                            <p><strong>Discount:</strong> <span id="detail-discount"></span></p>
                            <p><strong>Description:</strong> <span id="detail-description"></span></p>
                            <p><strong>Publish:</strong> <span id="detail-publish"></span></p>
                            <p><strong>Create At:</strong> <span id="detail-created-at"></span></p>
                            <p><strong>Updated At:</strong> <span id="detail-updated-at"></span></p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-rounded w-100 mt-4 mb-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script src="/assets_admin/js/plugins/datatables.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/admin/products',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                const tbody = $('#datatable-search tbody');
                tbody.empty();
                tbody.css('height', '');

                data.forEach(p => {
                    rowHtml = `
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="customCheck${p.id}">
                                    </div>
                                    <p class="text-xs font-weight-bold table-cell ms-2 mb-0">${p.id}</p>
                                </div>
                            </td>
                            <td class="text-xs font-weight-bold table-cell">${p.sku}</td>
                            <td class="text-xs font-weight-bold table-cell">${p.title}</td>
                            <td class="text-xs font-weight-bold table-cell">${p.type}</td>
                            <td class="text-xs font-weight-bold table-cell">${p.discount}</td>
                            <td class="text-xs font-weight-bold table-cell">${p.updated_at}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-publish-switch" type="checkbox" role="switch" data-hash="${p.hash}" ${p.publish ? 'checked' : ''}>
                                </div>
                            </td>
                            <td class="text-sm">
                                <a href="javascript:;" class="toggle-details" data-hash="${p.hash}" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                                    <i class="fas fa-eye text-secondary"></i>
                                </a>
                                <a href="javascript:;" class="mx-3 edit-btn" data-hash="${p.hash}" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <i class="fas fa-user-edit text-secondary"></i>
                                </a>
                                <a href="javascript:;" class="delete-btn" data-hash="${p.hash}" data-bs-toggle="tooltip">
                                    <i class="fas fa-trash text-secondary"></i>
                                </a>
                            </td>
                        </tr>
                    `;
                    tbody.append(rowHtml);
                });

                thHtml = `
                    <tr>
                        <th>ID</th>
                        <th>SKU</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Discount</th>
                        <th>Updated At</th>
                        <th>Publish</th>
                        <th>Action</th>
                    </tr>
                `;
                const thead = $('#datatable-search thead');
                thead.append(thHtml);
                
                $('[data-bs-toggle="tooltip"]').tooltip();

                const table = new simpleDatatables.DataTable("#datatable-search", {
                    searchable: true,
                    fixedHeight: false
                });

                $('.table-cell').each(function () {
                    if (this.scrollWidth > this.clientWidth) {
                        $(this).attr('data-bs-toggle', 'popover');
                        $(this).popover({
                            trigger: 'click',
                            placement: 'top',
                            content: $(this).text(),
                            html: false
                        });
                    }
                });
            },
            error: function (error) {
                console.error("Error fetching products:", error);
            }
        });
        
        $('#datatable-search tbody').on('change', '.toggle-publish-switch', async function () {
            const checkbox = $(this);
            const hash = checkbox.data('hash');
            const newPublish = checkbox.is(':checked') ? 1 : 0;

            try {
                const response = await fetch(`/api/admin/product/${hash}`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ publish: newPublish })
                });

                const result = await response.json();
                if (!response.ok) {
                    alert(result.detail);
                    checkbox.prop('checked', !checkbox.is(':checked'));
                }
            } catch (err) {
                alert(err.message);
                checkbox.prop('checked', !checkbox.is(':checked'));
            }
        });
    });

    $(document).on('click', '.toggle-details', async function () {
        const hash = $(this).data('hash');

        try {
            const response = await fetch(`/api/admin/product/${hash}`);
            const data = await response.json();
            if (!response.ok) {
                return alert(data.detail);
            }

            $('#detail-id').text('Product #' + data.id);
            $('#detail-hash').text(data.hash);
            $('#detail-sku').text(data.sku);
            $('#detail-title').text(data.title);
            $('#detail-slug').text(data.slug);
            $('#detail-type').text(data.type);
            $('#detail-canvas-price').text(data.canvas_price);
            $('#detail-mica-price').text(data.mica_price);
            $('#detail-discount').text(data.discount);
            $('#detail-description').text(data.description);
            $('#detail-publish').text(data.publish == 1 ? 'Yes' : 'No');
            $('#detail-created-at').text(data.created_at);
            $('#detail-updated-at').text(data.updated_at);
            $('#detail-image').attr('src', data.thumbnail[0]);
        } catch (err) {
            alert(err.message);
        }
    });

    $(document).on('click', '.delete-btn', function () {
        const hash = $(this).data('hash');

        if (confirm("Do you want to delete this product?")) {
            $.ajax({
                url: `/api/admin/product/${hash}/delete`,
                type: 'PATCH',
                success: function (res) {
                    alert(res.message);
                    location.reload();
                },
                error: function (xhr) {
                    const message = xhr.responseJSON?.detail;
                    alert(message);
                }
            });
        }
    });

    $('#create-btn').on('click', async function () {
        $('#input-sku').val("").prop('disabled', false);
        $('#input-title').val("");
        $('#input-type').val("");
        $('#input-slug').val("").prop('disabled', true);
        $('#input-canvas-price').val("");
        $('#input-mica-price').val("");
        $('#input-discount').val("");
        $('#input-images').val("");
        $('#input-description').val("");
        $('#publish-switch').prop('checked', true);

        $('#product-modal-title').text("New Product");
        $('#product-modal-description').text("Enter information to create a new product");
        $('#save-btn').text("Create");

        $('#save-btn').off('click').on('click', createProduct);
    });

    $('#datatable-search tbody').on('click', '.edit-btn', async function () {
        const hash = $(this).data('hash');

        try {
            const response = await fetch(`/api/admin/product/${hash}`);
            if (!response.ok) throw new Error("Failed to fetch product data");

            const product = await response.json();

            $('#input-sku').val(product.sku).prop('disabled', true);
            $('#input-title').val(product.title);
            $('#input-type').val(product.type);
            $('#input-slug').val(product.slug).prop('disabled', true);
            $('#input-canvas-price').val(product.canvas_price);
            $('#input-mica-price').val(product.mica_price);
            $('#input-discount').val(product.discount);
            $('#input-images').val(product.images);
            $('#input-description').val(product.description);
            $('#publish-switch').prop('checked', product.publish == 1);

            $('#product-modal-title').text("Update Product");
            $('#product-modal-description').text("Enter information to update product");
            $('#save-btn').text("Update");

            $('#save-btn').off('click').on('click', () => updateProduct(hash));
        } catch (error) {
            alert(error.message);
        }
    });

    async function createProduct() {
        const sku = document.getElementById('input-sku').value.trim();
        const title = document.getElementById('input-title').value.trim();
        const slug = document.getElementById('input-slug').value.trim();
        const type = document.getElementById('input-type').value.trim();
        const canvas_price = document.getElementById('input-canvas-price').value.trim();
        const mica_price = document.getElementById('input-mica-price').value.trim();
        const discount = document.getElementById('input-discount').value.trim();
        const images = document.getElementById('input-images').value.trim();
        const description = document.getElementById('input-description').value.trim();
        const publish = document.getElementById('publish-switch').checked ? 1 : 0;
        
        try {
            const response = await fetch('/api/admin/product', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    
                    sku: sku,
                    title: title,
                    slug: slug,
                    type: type,
                    canvas_price: canvas_price,
                    mica_price: mica_price,
                    discount: discount,
                    images: images,
                    description: description,
                    publish: publish
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert("Products created successfully!");
                location.reload();
            } else {
                alert(result.detail);
            }
        } catch (error) {
            alert(error.message);
        }
    }
    
    async function updateProduct(hash) {
        const title = document.getElementById('input-title').value.trim();
        const slug = document.getElementById('input-slug').value.trim();
        const type = document.getElementById('input-type').value.trim();
        const canvas_price = document.getElementById('input-canvas-price').value.trim();
        const mica_price = document.getElementById('input-mica-price').value.trim();
        let discount = document.getElementById('input-discount').value.trim();
        const images = document.getElementById('input-images').value.trim();
        const description = document.getElementById('input-description').value.trim();
        const publish = document.getElementById('publish-switch').checked ? 1 : 0;

        if (!title) 
            return alert("Title is required");
        else if (!type) 
            return alert("Type is required");
        else if (!canvas_price)
            return alert("Canvas price is required");
        if (!mica_price)
            return alert("Mica price is required");
        if (!images)
            return alert("Images is required");

        if (discount) {
            discount = parseFloat(discount);
            if (isNaN(discount)) {
                alert("Discount must be a number");
                return;
            }
            if (discount < 0 || discount > 100)
                return alert("Discount must be between 0 and 100");
        }

        try {
            const response = await fetch(`/api/admin/product/${hash}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    title: title,
                    slug: slug,
                    type: type,
                    canvas_price: canvas_price,
                    mica_price: mica_price,
                    discount: discount,
                    images: images,
                    description: description,
                    publish: publish
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert("Product updated successfully!");
                location.reload();
            } else {
                alert(result.detail);
            }
        } catch (err) {
            alert(err.message);
        }
    }

    function generateSlug(text) {
        return text
            .toLowerCase()
            .normalize("NFD")                   // remove accents
            .replace(/[\u0300-\u036f]/g, "")    // remove accents continued
            .replace(/đ/g, "d")                    // convert đ
            .replace(/[^a-z0-9\s-]/g, "")       // remove invalid chars
            .trim()                             // trim whitespace
            .replace(/\s+/g, "-");              // replace spaces with -
    }

    function updateSlug() {
        const type = document.getElementById('input-type').value || "";
        const sku = document.getElementById('input-sku').value || "";
        const title = document.getElementById('input-title').value || "";

        const raw = `${type} ${sku} ${title}`;
        const slug = generateSlug(raw);

        document.getElementById('input-slug').value = slug;
    }

    document.getElementById('input-type').addEventListener('input', updateSlug);
    document.getElementById('input-sku').addEventListener('input', updateSlug);
    document.getElementById('input-title').addEventListener('input', updateSlug);

</script>
{% endblock %}
