{% extends 'layout.html' %}

{% block title %}
Liên hệ chúng tôi | Tranh Slogan
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/contact-us"/>
<link rel="alternate" href="https://tranhslogan.vn/contact-us" hreflang="vi"/>
<link rel="alternate" href="https://tranhslogan.vn/contact-us" hreflang="x-default"/>

<!--Primary Meta Tags-->
<meta name="title" content="Liên hệ chúng tôi | Tranh Slogan"/>
<meta name="description" content="Liên hệ ngay với Tranhslogan.vn để được tư vấn và đặt hàng các sản phẩm tranh treo tường, tranh dán tường, tranh slogan, khung ảnh, decal trang trí và dịch vụ in lịch Tết. Chúng tôi luôn sẵn sàng hỗ trợ bạn nhanh chóng, tận tâm!"/>

{% endblock %}

{% block content %}
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item">Liên hệ chúng tôi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Liên hệ chúng tôi</h1>
            </div>
        </div>
    </div>
</div>


<div class="page-content policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>
                                    Cập nhật lần cuối: Ngày 07 tháng 02 năm 2025
                                </p>
                                <p>
                                    Cảm ơn bạn đã sử dụng Tranh Slogan!
                                </p>
                                <p>Liên hệ ngay với Tranhslogan.vn để được tư vấn và đặt hàng các sản phẩm tranh treo tường, tranh dán tường, tranh slogan, khung ảnh, decal trang trí và dịch vụ in lịch Tết. Chúng tôi luôn sẵn sàng hỗ trợ bạn nhanh chóng, tận tâm!</p>
                                <ul>
                                    <li>📞 Hotline: <a href="https://zalo.me/0369620182">(+84) 369 620 182</a></li>
                                    <li>📧 Email: <a href="mailto:tranhslogan.official@gmail.com">tranhslogan.official@gmail.com</a></li>
                                    <li>📍 Địa chỉ: Ngõ 219 Nguyễn Ngọc Vũ, Phường Trung Hòa, Quận Cầu Giấy, Thành phố Hà Nội, Việt Nam</li>
                                </ul>
                            
                                <p>Truy cập <a href="https://tranhslogan.vn" target="_blank">tranhslogan.vn</a> hoặc <a href="https://facebook.com/vn.tranhslogan" target="_blank">Facebook</a> để biết thêm chi tiết!</p>
                            </div>
                            <div class="col-xl-6">
                                <div class="support-wrap">
                                    <h5>Gửi yêu cầu của bạn</h5>
                                    <form action="#">
                                        <div class="input-block">
                                            <label>Họ và tên</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên...">
                                        </div>
                                        <div class="input-block">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email...">
                                        </div>
                                        <div class="input-block">
                                            <label>Ghi chú</label>
                                            <textarea class="form-control" placeholder="Nhập yêu cầu của bạn..." rows="4"></textarea>
                                        </div>
                                        <button class="btn btn-submit" style="background-color: #f07c63; border: #f07c63;">Gửi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/header-filter.js?v={{time}}"></script>
{% endblock %}
