{% extends 'layout.html' %}

{% block title %}
Tranh Slogan (tranhslogan.vn) | Chuyên Các Loại Tranh, Khung Ảnh, Lịch Tết Giá Tốt
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/" />
<link rel="alternate" href="https://tranhslogan.vn/" hreflang="vi" />
<link rel="alternate" href="https://tranhslogan.vn/" hreflang="x-default" />

<!--Primary Meta Tags-->
<meta name="title" content="Tranh Slogan | Xưởng in tranh theo yêu cầu, tranh động lực, canvas" />
<meta name="description"
    content="Tại Tranh Slogan, chúng tôi chuyên cung cấp các loại tranh nghệ thuật độc đáo, khung ảnh tinh tế và lịch Tết phong cách với giá cạnh tranh. Mang đến không gian sống và làm việc thêm phần ấn tượng, hiện đại." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:locale" content="vi" />
<meta property="og:image" content="/assets/img/thumbnail.jpeg" />

{% endblock %}

{% block link %}
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/menu-products.css">
<link rel="stylesheet" href="/assets/css/blogs.css">
<link rel="stylesheet" href="/assets/css/home.css">

{% endblock %}

{% block content %}
<section class="section new-course">
    <div class="container">
        <div class="group-support-right">
            <a href="https://www.facebook.com/quangvan.corn" target="_blank" class="icon icon-zalo">
                <img src="/assets/img/logo-zalo-150.png" alt="Zalo">
            </a>

            <a href="https://www.facebook.com/quangvan.corn" target="_blank" class="icon icon-messenger">
                <img src="/assets/img/messenger-icon-150.png" alt="Messenger">
            </a>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="left-widget">
                    <div class="global-group-title">
                      <span class="group-icon">
                        <i class="fa fa-th"></i>
                      </span>
                      <span class="group-title">Danh mục</span>
                    </div>
                    <div class="content">
                      <ul class="category-list">
                        <li>
                          <a class="category-toggle" href="/menu">
                            <h3>Tranh Văn Phòng</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu">
                            <h3>Tranh Theo Không Gian</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu">
                            <h3>Tranh Theo Chủ Đề</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Tròn Tráng Gương">
                            <h3>Tranh Tròn Tráng Gương</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Đồng Hồ Treo Tường">
                            <h3>Tranh Đồng Hồ Treo Tường</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Kính Treo Tường">
                            <h3>Tranh Kính Treo Tường</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu">
                            <h3>Tranh Phong Thủy</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu">
                            <h3>Tranh Phong Cảnh</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Canvas">
                            <h3>Tranh Canvas</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Liễn Treo Tường">
                            <h3>Tranh Liễn Treo Tường</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Tranh Phù Điêu - Tranh Treo Tường Có Khung Cao Cấp">
                            <h3>Tranh Phù Điêu - Tranh Treo Tường Có Khung Cao Cấp</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Biển Báo">
                            <h3>Biển Báo</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Xưởng In Tranh Ảnh Cưới Theo Yêu Cầu">
                            <h3>Xưởng In Tranh Ảnh Cưới Theo Yêu Cầu</h3>
                          </a>
                        </li>
                        <li>
                          <a class="category-toggle" href="/menu" data-type="Xưởng In Tranh Ảnh Kỉ Niệm Theo Yêu Cầu">
                            <h3>Xưởng In Tranh Ảnh Kỉ Niệm Theo Yêu Cầu</h3>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="swiper banner-slide col-lg-6" data-slides="1">
                <div class="channel-entrance">
                    <a href="/menu" class="hot-icon menu-item-197">Tranh Slogan Động Lực</a>  
                    <a href="/menu" class="menu-item-230">Tranh Phong Cảnh</a>  
                    <a href="/menu" class="menu-item-231">Tranh Canvas</a>  
                    <a href="/menu" class="menu-item-39">Tranh Phong Thủy</a>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://sen-2.s3.ap-southeast-1.amazonaws.com/banner/banner-1.jpeg"
                            alt="Banner Tranh Slogan 1"></div>
                    <div class="swiper-slide"><img src="https://sen-2.s3.ap-southeast-1.amazonaws.com/banner/banner-3.jpeg"
                            alt="Banner Tranh Slogan 2"></div>
                    <div class="swiper-slide"><img src="https://sen-2.s3.ap-southeast-1.amazonaws.com/banner/banner-7.jpeg"
                            alt="Banner Tranh Slogan 3"></div>
                    <div class="swiper-slide"><img src="https://sen-2.s3.ap-southeast-1.amazonaws.com/banner/banner-6.jpeg"
                            alt="Banner Tranh Slogan 4"></div>
                </div>
    
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
    
                <div class="swiper-pagination"></div>
            </div>
            <div class="card post-widget blog-widget col-lg-3">
                <div class="card-header">
                    <h4 class="card-title"><i class="fa fa-th p-1" style="color:#f07c63"></i>BÀI VIẾT MỚI NHẤT</h4>
                </div>
                <div class="row" id="blogs-related-home">

                </div>
            </div>
        </div>
        
        <div class="slider-banner-wrap">
            <div class="slider-banner-box">
                <div data-x="0" data-y="0" data-width="24" data-height="1" class="item">
                    <a href="https://tuongvip.vn/khung-hinh-khung-anh-khung-bang-khen" style="background-image: url(&quot;https://tuongvip.vn/public/uploads/slider-box/40a0d8926ba457c1d967919e5129f1f0.jpg&quot;);">
                    </a>
                </div>
            </div>
        </div>
        
        <template id="card-template">
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="product-box d-flex">
                    <div class="product">
                        <div class="product-img">
                            <div class="card__body">
                                <div class="card__body body__img">
                                    <img class="skeleton" alt="" id="cover-img" />
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="card__header">
                                <h3 class="card__header header__title" id="card-title">
                                    <div class="skeleton skeleton-text"></div>
                                    <div class="skeleton skeleton-text"></div>
                                </h3>
                            </div>
                            <div class="product-info align-items-center">
                                <div class="card__body body__text" id="card-details">
                                    <div class="skeleton skeleton-text skeleton-text__body"></div>
                                    <div class="skeleton skeleton-text skeleton-text__body"></div>
                                </div>
                            </div>
                            <div class="price" style="${isShowPrice}">
                                <div class="skeleton skeleton-text skeleton-footer"></div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="skeleton skeleton-text skeleton-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        
        <!-- <div class="course-feature">
            <div class="row" id="products-container">
            </div>
            <div class="pagination-container text-center mt-4">
                <nav aria-label="Product pagination">
                    <ul class="pagination lms-page justify-content-center"></ul>
                </nav>
            </div>
        </div> -->
    </div>
</section>
<section class="home-flash-sale p-3 border shadow container ">
    <div class="title-flash mb-3 d-flex justify-content-between align-items-center">
        <div class="item-left-flash d-flex align-items-center gap-3">
            <div class="img-left-sale">
                <img width="150px" class="mw-100" src="/assets/img/flash_sale.png" alt="logo" />
            </div>
            <div class="countdown-item">
                <div class="countdown" data-end="29-04-2025 00:00:00">
                    <span id="days">00</span> :
                    <span id="hours">00</span> :
                    <span id="minutes">00</span> :
                    <span id="seconds">00</span>
                </div>
            </div>
        </div>
        <div><a class="link-body-emphasis link-underline link-underline-opacity-0" href="#">Xem tất cả ></a></div>
    </div>
    <div class="flash-sale-items mt-3 swiper" data-slides="7" data-breakpoints='{
            "200": { "slidesPerView": 2, "spaceBetween": 7 },
            "484": { "slidesPerView": 3, "spaceBetween": 10 },
            "640": { "slidesPerView": 4, "spaceBetween": 10 },
            "768": { "slidesPerView": 5, "spaceBetween": 15 },
            "1024": { "slidesPerView": 6, "spaceBetween": 20 }
        }'>
        <div class="swiper-wrapper ">

        </div>
        <div class=" swiper-button-next"></div>
        <div class=" swiper-button-prev"></div>


    </div>
</section>

<section data-index="Tranh Động Lực" class="group-home-product mt-3 p-3  container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Động Lực</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/banner_tranh_dong_luc.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Nghệ Thuật" class="group-home-product mt-3 p-3  container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Nghệ Thuật</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/tranh-nghe-thuat.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Phật Giáo" class="group-home-product mt-3 p-3  container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Phật Giáo</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/tranh-treo-tuong-phat-giao.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Doanh Nhân" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Doanh Nhân</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Công Giáo" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Công Giáo</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/banner_tranh_cong_giao.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh 3D" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh 3D</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/banner_tranh_3d.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Cầu Thủ Bóng Đá" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Cầu Thủ Bóng Đá</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Canvas" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Canvas</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/tranh-canvas.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Phúc Lộc Thọ" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Phúc Lộc Thọ</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>
<section data-index="Tranh Thư Pháp" class=" group-home-product mt-3 p-3 container">
    <div class="row ">
        <div class="col-lg-8">
            <div class="home-product-left border shadow">
                <div class="global-group-title">
                    <span class="group-icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <a href="#" class="group-title link-underline link-underline-opacity-0">
                        <h2>Tranh Thư Pháp</h2>
                    </a>
                    <ul class="group-category-menu">

                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Phòng Ngủ</h2>
                            </a></li>
                        <li><a class="link-underline link-underline-opacity-0" href="#">
                                <h2 class="fw-normal">Tranh Phòng Ăn &amp; Bếp</h2>
                            </a></li>
                        <li><a href="#" class="link-underline link-underline-opacity-0">
                                <h2 class="fw-normal">Tranh Nghệ Thuật</h2>
                            </a></li>
                        <li class="total">
                            <a class="link-underline link-underline-opacity-0 lh-sm" href="#">Toàn bộ</a>
                        </li>
                    </ul>
                </div>
                <div class="home-product-banner"><a href="/tranh-treo-tuong">
                        <img class="w-100" src="/assets/img/banner_thu_phap.jpg"
                            data-src="/assets/img/Banner-tranh-treo-tường_850x250-1.jpg" alt="Tranh treo tường"
                            class="lazyload"></a></div>
            </div>
            <div class="home-product-top mt-3 mb-3 mx-3">
                <div class="home-product-items swiper" data-slides="4" data-breakpoints='{
                    "200": { "slidesPerView": 2, "spaceBetween": 7 },
                    "484": { "slidesPerView": 3, "spaceBetween": 10 },
                    "640": { "slidesPerView": 4, "spaceBetween": 10 }
                }'>
                    <div class="swiper-wrapper ">



                    </div>
                    <div class=" swiper-button-next"></div>
                    <div class=" swiper-button-prev"></div>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="right-home-product  px-3 border shadow">
                <h6 class="my-3">Sản phẩm bán chạy</h6>
                <div class="hot-product-items mb-3">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/pages/home.js?v={{ time }}"></script>
<script src="/assets/js/header-filter.js?v={{ time }}"></script>
{% endblock %}