{% extends 'layout.html' %}

{% block title %}
Tranh Slogan (tranhslogan.vn) | Chuyên Các Loại Tranh, Khung Ảnh, Lịch Tết Giá Tốt
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/menu" />
<link rel="alternate" href="https://tranhslogan.vn/menu" hreflang="vi" />
<link rel="alternate" href="https://tranhslogan.vn/menu" hreflang="x-default" />

<!--Primary Meta Tags-->
<meta name="title" content="Tranh Slogan | Xưởng in tranh theo yêu cầu, tranh động lực, canvas" />
<meta name="description"
    content="Tại Tranh Slogan, chúng tôi chuyên cung cấp các loại tranh nghệ thuật độc đáo, khung ảnh tinh tế và lịch Tết phong cách với giá cạnh tranh. Mang đến không gian sống và làm việc thêm phần ấn tượng, hiện đại." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:locale" content="vi" />
<meta property="og:image" content="/assets/img/thumbnail.jpeg" />

{% endblock %}

{% block link %}
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/menu-products.css">

{% endblock %}

{% block content %}
<section class="group-home-product mt-3  container">
    <div class="row ">
        <div class="col-md-3">
            <div class="left-widget">
                <div class="global-group-title">
                  <span class="group-icon">
                    <i class="fa fa-th"></i>
                  </span>
                  <span class="group-title">Danh mục</span>
                </div>
                <div class="content">
                  <ul class="category-list">
                    <li>
                      <a class="category-toggle" href="#">
                        <h3>Tranh Văn Phòng</h3>
                      </a>
                      <ul class="subcategory-list">
                        <li>
                          <a href="#" data-type="Tranh Động Lực">
                            <h3>Tranh Slogan Động Lực</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Doanh Nhân">
                            <h3>Tranh Doanh Nhân</h3>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="category-toggle" href="#">
                        <h3>Tranh Theo Không Gian</h3>
                      </a>
                      <ul class="subcategory-list">
                        <li>
                          <a href="#" data-type="Tranh Treo Tường Phòng Khách">
                            <h3>Tranh Treo Tường Phòng Khách</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Treo Phòng Ngủ">
                            <h3>Tranh Treo Phòng Ngủ</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phòng Ăn & Phòng Bếp">
                            <h3>Tranh Phòng Ăn & Phòng Bếp</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phòng Trẻ Em">
                            <h3>Tranh Phòng Trẻ Em</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Treo Cầu Thang & Hành Lang">
                            <h3>Tranh Treo Cầu Thang & Hành Lang</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Treo Quán Cafe">
                            <h3>Tranh Treo Quán Cafe</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Khách Sạn">
                            <h3>Tranh Khách Sạn</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Spa">
                            <h3>Tranh Spa</h3>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="category-toggle" href="#">
                        <h3>Tranh Theo Chủ Đề</h3>
                      </a>
                      <ul class="subcategory-list">
                        <li>
                          <a href="#" data-type="Tranh Nghệ Thuật">
                            <h3>Tranh Nghệ Thuật</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Hoa Lá">
                            <h3>Tranh Hoa Lá</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Con Vật">
                            <h3>Tranh Con Vật</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phật Giáo">
                            <h3>Tranh Phật Giáo</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Công Giáo">
                            <h3>Tranh Công Giáo</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh 3D">
                            <h3>Tranh 3D</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Cầu Thủ Bóng Đá">
                            <h3>Tranh Cầu Thủ Bóng Đá</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Cô Gái Nghệ Thuật">
                            <h3>Tranh Cô Gái Nghệ Thuật</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phúc Lộc Thọ">
                            <h3>Tranh Phúc Lộc Thọ</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Thư Pháp">
                            <h3>Tranh Thư Pháp</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Ly Rượu">
                            <h3>Tranh Ly Rượu</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Gấu BEARBRICK/ KAWS Nghệ Thuật">
                            <h3>Tranh Gấu BEARBRICK/ KAWS Nghệ Thuật</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Nhân Vật Hoạt Hình, Siêu Anh Hùng">
                            <h3>Tranh Nhân Vật Hoạt Hình, Siêu Anh Hùng</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Vĩ Nhân, Nhân Vật Lịch Sử">
                            <h3>Tranh Vĩ Nhân, Nhân Vật Lịch Sử</h3>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Tròn Tráng Gương">
                        <h3>Tranh Tròn Tráng Gương</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Đồng Hồ Treo Tường">
                        <h3>Tranh Đồng Hồ Treo Tường</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Kính Treo Tường">
                        <h3>Tranh Kính Treo Tường</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#">
                        <h3>Tranh Phong Thủy</h3>
                      </a>
                      <ul class="subcategory-list">
                        <li>
                          <a href="#" data-type="Tranh Mã Đáo Thành Công">
                            <h3>Tranh Mã Đáo Thành Công</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Thuận Buồm Xuôi Gió">
                            <h3>Tranh Thuận Buồm Xuôi Gió</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Tứ Quý">
                            <h3>Tranh Tứ Quý</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Rồng">
                            <h3>Tranh Rồng</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Chim Công">
                            <h3>Tranh Chim Công</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Cá Chép">
                            <h3>Tranh Cá Chép</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Hoa Mẫu Đơn">
                            <h3>Tranh Hoa Mẫu Đơn</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Sơn Thủy Hữu Tình">
                            <h3>Tranh Sơn Thủy Hữu Tình</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Hươu Nai">
                            <h3>Tranh Hươu Nai</h3>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="category-toggle" href="#">
                        <h3>Tranh Phong Cảnh</h3>
                      </a>
                      <ul class="subcategory-list">
                        <li>
                          <a href="#" data-type="Tranh Phong Cảnh Thiên Nhiên">
                            <h3>Tranh Phong Cảnh Thiên Nhiên</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phong Cảnh Việt Nam">
                            <h3>Tranh Phong Cảnh Việt Nam</h3>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-type="Tranh Phong Cảnh Nước Ngoài">
                            <h3>Tranh Phong Cảnh Nước Ngoài</h3>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Canvas">
                        <h3>Tranh Canvas</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Liễn Treo Tường">
                        <h3>Tranh Liễn Treo Tường</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Tranh Phù Điêu - Tranh Treo Tường Có Khung Cao Cấp">
                        <h3>Tranh Phù Điêu - Tranh Treo Tường Có Khung Cao Cấp</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Biển Báo">
                        <h3>Biển Báo</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Xưởng In Tranh Ảnh Cưới Theo Yêu Cầu">
                        <h3>Xưởng In Tranh Ảnh Cưới Theo Yêu Cầu</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Xưởng In Tranh Ảnh Kỉ Yếu/ Tốt Nghiệp Theo Yêu Cầu">
                        <h3>Xưởng In Tranh Ảnh Kỉ Yếu/ Tốt Nghiệp Theo Yêu Cầu</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Xưởng In Tranh Ảnh Kỉ Niệm Theo Yêu Cầu">
                        <h3>Xưởng In Tranh Ảnh Kỉ Niệm Theo Yêu Cầu</h3>
                      </a>
                    </li>
                    <li>
                      <a class="category-toggle" href="#" data-type="Đồng Hồ Treo Tường In Logo Quảng Cáo/In Thiết Kế Đồng Hồ Theo Yêu Cầu/Quà Tặng Doanh Nghiệp">
                        <h3>Đồng Hồ Treo Tường In Logo Quảng Cáo/In Thiết Kế Đồng Hồ Theo Yêu Cầu/Quà Tặng Doanh Nghiệp</h3>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="category-title">Tranh Treo Tường</h1>
            <div class="category-filter">
                <div class="filter-button">
                <span>Sắp xếp theo</span>
                <a href="#" class="item-filter ">Bán chạy</a>
                <a href="#" class="item-filter ">Giảm giá nhiều</a>
                <a href="#" class="item-filter ">Có quà tặng</a>
                <a href="#" class="item-filter ">Giá thấp nhất</a>
                <a href="#" class="item-filter ">Giá cao nhất</a>
                </div>
            </div>
            <template id="card-template">
                <div class="col-lg-3 col-md-6 d-flex">
                    <div class="product-box d-flex">
                        <div class="product">
                            <div class="product-img">
                                <div class="card__body">
                                    <div class="card__body body__img">
                                        <img class="skeleton" alt="" id="cover-img" />
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="card__header">
                                    <h3 class="card__header header__title" id="card-title">
                                        <div class="skeleton skeleton-text"></div>
                                        <div class="skeleton skeleton-text"></div>
                                    </h3>
                                </div>
                                <div class="product-info align-items-center">
                                    <div class="card__body body__text" id="card-details">
                                        <div class="skeleton skeleton-text skeleton-text__body"></div>
                                        <div class="skeleton skeleton-text skeleton-text__body"></div>
                                    </div>
                                </div>
                                <div class="price" style="${isShowPrice}">
                                    <div class="skeleton skeleton-text skeleton-footer"></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="skeleton skeleton-text skeleton-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div class="course-feature">
                <div class="row" id="products-container">
                </div>
                <div class="pagination-container text-center mt-4">
                    <nav aria-label="Product pagination">
                        <ul class="pagination lms-page justify-content-center"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/pages/menu-products.js?v={{ time }}"></script>
<script src="/assets/js/header-filter.js?v={{ time }}"></script>
{% endblock %}