{% extends 'layout.html' %}

{% block title %}
Chính sách bảo mật | Tranh Slogan
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/privacy-policy"/>
<link rel="alternate" href="https://tranhslogan.vn/privacy-policy" hreflang="vi"/>
<link rel="alternate" href="https://tranhslogan.vn/privacy-policy" hreflang="x-default"/>

<!--Primary Meta Tags-->
<meta name="title" content="Chính sách bảo mật | Tranh Slogan"/>
<meta name="description" content="Trước khi tiến hành đặt hàng hoặc sử dụng dịch vụ, bạn bắt buộc phải đồng ý với chính sách Bảo vệ thông tin cá nhân của chúng mình. Để đảm bảo an toàn và bảo vệ thông tin cá nhân của bạn, vui lòng đọc kỹ và đồng ý với các chính sách bảo mật thông tin dưới đây"/>

{% endblock %}

{% block content %}
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item">Chính sách bảo mật</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Chính sách bảo mật</h1>
            </div>
        </div>
    </div>
</div>


<div class="page-content policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <p>
                            Cập nhật lần cuối: Ngày 07 tháng 02 năm 2025
                        </p>
                        <p>
                            Cảm ơn bạn đã sử dụng Tranh Slogan!
                        </p>
                        <p>
                            Trước khi tiến hành đặt hàng hoặc sử dụng dịch vụ, bạn bắt buộc phải đồng ý với chính sách Bảo vệ thông tin cá nhân của chúng mình. Để đảm bảo an toàn và bảo vệ thông tin cá
                            nhân của bạn, vui lòng đọc kỹ và đồng ý với các chính sách bảo mật thông tin dưới đây:
                        </p>
                        <h4>1. Mục đích thu thập thông tin cá nhân</h4>
                        <p>
                            Chúng mình chỉ thu thập thông tin cá nhân của khách hàng với mục đích sau đây:
                        </p>
                        <p>
                            <b>1.1. Xác nhận danh tính:</b> Chúng mình có thể yêu cầu thông tin cá nhân như tên, địa chỉ, số điện thoại và địa chỉ email để xác nhận danh tính của khách hàng và đảm bảo tính
                            chính xác trong quá trình giao dịch và cung cấp dịch vụ.
                        </p>
                        <p>
                            <b>1.2.Xử lý đơn hàng:</b> Chúng mình thu thập thông tin cá nhân như địa chỉ giao hàng và thông tin thanh toán để xử lý đơn hàng của khách hàng.
                        </p>
                        <p>
                            <b>1.3. Cải thiện trải nghiệm khách hàng:</b> Thông tin cá nhân được sử dụng để cung cấp dịch vụ tốt hơn cho khách hàng, bao gồm hỗ trợ khách hàng, tư vấn sản phẩm và cung cấp
                            thông tin liên quan.
                        </p>
                        <p>
                            <b>1.4. Tùy chỉnh trải nghiệm:</b> Chúng mình có thể sử dụng thông tin cá nhân để tùy chỉnh và cá nhân hóa trải nghiệm mua sắm của khách hàng trên website của chúng mình, bao gồm
                            cung cấp thông tin sản phẩm, ưu đãi hoặc gợi ý phù hợp.
                        </p>
                        <h4>2. Phạm vi sử dụng thông tin</h4>
                        <p>
                            Chúng mình cam kết bảo vệ thông tin cá nhân của khách hàng và chỉ sử dụng thông tin trong phạm vi cần thiết để cung cấp dịch vụ và đáp ứng yêu cầu của khách hàng. Thông tin
                            cá nhân của khách hàng không được chia sẻ, tiết lộ hoặc bán cho bất kỳ bên thứ ba nào mà không có sự đồng ý rõ ràng từ khách hàng, trừ khi có yêu cầu pháp lý hoặc khi cần
                            thiết để bảo vệ quyền lợi, tài sản hoặc an ninh của chúng mình hoặc của khách hàng.
                        </p>
                        <p>
                            Chúng mình duy trì các biện pháp bảo mật thích hợp để đảm bảo an toàn thông tin cá nhân của khách hàng và tuân thủ các quy định về bảo vệ dữ liệu áp dụng.
                        </p>
                        <h4>3. Những người hoặc tổ chức có thể được tiếp cận với thông tin</h4>
                        <p>
                            Chúng mình cam kết không chia sẻ, bán, hoặc tiết lộ thông tin cá nhân của khách hàng cho bất kỳ bên thứ ba nào ngoại trừ những trường hợp sau đây:
                        </p>
                        <p>
                            <b>3.1. Đối tác dịch vụ:</b> Chúng mình có thể chia sẻ thông tin cá nhân với các đối tác dịch vụ hỗ trợ chúng mình trong việc cung cấp sản phẩm và dịch vụ cho khách hàng. Tuy nhiên,
                            các đối tác này phải tuân thủ các quy định về bảo mật thông tin và chỉ được sử dụng thông tin cá nhân cho mục đích cụ thể đã được đề ra.
                        </p>
                        <p>
                            <b>3.2. Tuân thủ pháp luật:</b> Chúng mình có thể tiết lộ thông tin cá nhân khi được yêu cầu từ các cơ quan chức năng thực thi pháp luật nhằm tuân thủ các quy định, quy trình pháp
                            lý, hoặc quyền của chúng mình.
                        </p>
                        <h4>4. Thời gian lưu trữ thông tin</h4>
                        <p>
                            Chúng mình sẽ lưu trữ thông tin cá nhân của khách hàng trong thời gian khách hàng sử dụng dịch vụ và cần thiết để đáp ứng mục đích thu thập thông tin đã nêu. Sau khi không
                            còn cần thiết, chúng mình sẽ xóa hoặc làm ẩn thông tin cá nhân của khách hàng.
                        </p>
                        <h4>5. Thông tin đơn vị thu thập và quản lý thông tin cá nhân</h4>
                        <p>
                            Nếu có bất kỳ câu hỏi hoặc cần hỗ trợ gì về hoạt động thu thập, xử lý thông tin liên quan đến khách hàng, xin vui lòng liên hệ trực tiếp, điện thoại hoặc email của chúng
                            tôi theo thông tin dưới đây:
                        </p>
                        <ul>
                            <li>📞 Hotline: <a href="https://zalo.me/0369620182">(+84) 369 620 182</a></li>
                            <li>📧 Email: <a href="mailto:tranhslogan.official@gmail.com">tranhslogan.official@gmail.com</a></li>
                            <li>📍 Địa chỉ: Ngõ 219 Nguyễn Ngọc Vũ, Phường Trung Hòa, Quận Cầu Giấy, Thành phố Hà Nội, Việt Nam</li>
                        </ul>
                        <h4>6. Quản lý dữ liệu cá nhân</h4>
                        <p>
                            Khách hàng có quyền tiếp cận và chỉnh sửa thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản cá nhân trên website hoặc liên hệ với chúng mình qua thông tin liên
                            lạc đã được cung cấp.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/header-filter.js?v={{time}}"></script>
{% endblock %}
