{% extends 'layout.html' %}

{% block title %}
Chính sách hoàn trả | Tranh Slogan
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://tranhslogan.vn/refund-cancellation-policy"/>
<link rel="alternate" href="https://tranhslogan.vn/refund-cancellation-policy" hreflang="vi"/>
<link rel="alternate" href="https://tranhslogan.vn/refund-cancellation-policy" hreflang="x-default"/>

<!--Primary Meta Tags-->
<meta name="title" content="Chính sách hoàn trả | Tranh Slogan"/>
<meta name="description" content="Chúng mình hiểu rằng đôi khi các kế hoạch có thể thay đổi và cần được dung hòa giữa sự linh hoạt với các đơn đặt hàng của chúng mình và các bạn. Vì vậy, chúng mình cung cấp chính sách hoàn/hủy linh hoạt phù hợp với từng thời điểm cụ thể như sau"/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website"/>
<meta property="og:locale" content="vi"/>
<meta property="og:url" content="https://tranhslogan.vn/refund-cancellation-policy"/>
<meta property="og:title" content="Chính sách hoàn trả | Tranh Slogan"/>
<meta property="og:description" content="Chúng mình hiểu rằng đôi khi các kế hoạch có thể thay đổi và cần được dung hòa giữa sự linh hoạt với các đơn đặt hàng của chúng mình và các bạn. Vì vậy, chúng mình cung cấp chính sách hoàn/hủy linh hoạt phù hợp với từng thời điểm cụ thể như sau"/>
<meta property="og:image" content="/assets/img/thumbnail.jpeg"/>

<!-- X.com -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content="https://tranhslogan.vn/refund-cancellation-policy"/>
<meta property="twitter:title" content="Chính sách hoàn trả | Tranh Slogan"/>
<meta property="twitter:description" content="Chúng mình hiểu rằng đôi khi các kế hoạch có thể thay đổi và cần được dung hòa giữa sự linh hoạt với các đơn đặt hàng của chúng mình và các bạn. Vì vậy, chúng mình cung cấp chính sách hoàn/hủy linh hoạt phù hợp với từng thời điểm cụ thể như sau"/>
<meta property="twitter:image" content="/assets/img/thumbnail.jpeg"/>
{% endblock %}

{% block content %}
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item">Chính Sách Hoàn Trả</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Chính Sách Hoàn Trả</h1>
            </div>
        </div>
    </div>
</div>


<div class="page-content policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-content">
                    <div class="terms-text">                    
                        <p>
                            Cập nhật lần cuối: Ngày 07 tháng 02 năm 2025
                        </p>
                        <p>
                            Cảm ơn bạn đã sử dụng Tranh Slogan!
                        </p>
                        <p>Khách hàng khi mua sản phẩm nếu có lỗi hoặc sau thời gian sử dụng có vấn đề về chất lượng sản phẩm đều được hỗ trợ miễn phí thay thế, đổi trả trong thời gian bảo hành theo đúng tiêu chuẩn kỹ thuật của nhà sản xuất.</p>

                        <h4>1. Điều kiện áp dụng</h4>
                        <p>Theo các điều khoản và điều kiện quy định trong Chính sách Trả hàng và Hoàn tiền, <strong><a href="https://tranhslogan.vn">tranhslogan.vn</a></strong> đảm bảo quyền lợi của người mua bằng cách cho phép gửi yêu cầu hoàn trả sản phẩm và/hoặc hoàn tiền trong vòng 7 ngày kể từ ngày giao hàng.</p>

                        <h4>2. Điều kiện trả hàng</h4>
                        <ul>
                            <li>- Người mua đã thanh toán nhưng không nhận được sản phẩm.</li>
                            <li>- Sản phẩm bị lỗi hoặc hư hại trong quá trình vận chuyển.</li>
                            <li>- Sản phẩm giao sai (sai kích cỡ, màu sắc, mẫu mã...).</li>
                            <li>- Sản phẩm khác biệt rõ rệt so với mô tả.</li>
                            <li>- Người bán đã tự thỏa thuận và đồng ý cho người mua trả hàng.</li>
                        </ul>

                        <p><strong>Lưu ý:</strong> Trừ khi có quy định khác, các trường hợp trả hàng do thay đổi ý định sẽ không được chấp nhận.</p>

                        <h4>3. Tình trạng hàng trả lại</h4>
                        <p>Người mua cần gửi lại sản phẩm nguyên vẹn, bao gồm toàn bộ phụ kiện, hóa đơn VAT, tem bảo hành... <strong><a href="https://tranhslogan.vn">tranhslogan.vn</a></strong> khuyến khích người mua chụp lại ảnh sản phẩm ngay khi nhận hàng để làm bằng chứng đối chiếu nếu cần.</p>

                        <h4>4. Chi phí & thời gian hoàn trả</h4>
                        <ul>
                            <li>- Người bán và người mua cần thống nhất về phí vận chuyển đối với hàng trả lại.</li>
                            <li>- Chúng tôi tiếp nhận hàng trả lại <strong>24/7</strong>.</li>
                            <li>- Sau khi nhận được hàng và kiểm tra đúng thông tin, chúng tôi sẽ hoàn tiền ngay trong vòng <strong>60 phút</strong> đối với khách hàng đã thanh toán.</li>
                            <li>- Đối với đơn hàng COD, khách hàng có quyền từ chối nhận hàng mà không cần thanh toán thêm bất kỳ khoản phí nào.</li>
                        </ul>

                        <div>
                            <h4>5. Thông tin liên hệ</h4>
                            <p><strong>📞 Hotline:</strong> (+84) 369 620 182</p>
                            <p><strong>📧 Email:</strong> <a href="mailto:tranhslogan.official@gmail.com">tranhslogan.official@gmail.com</a></p>
                            <p><strong>📍 Địa chỉ:</strong> Ngõ 219 Nguyễn Ngọc Vũ, Phường Trung Hòa, Quận Cầu Giấy, Thành phố Hà Nội, Việt Nam</p>
                            <p><strong>🌐 Website:</strong> <a href="https://tranhslogan.vn" target="_blank">tranhslogan.vn</a></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/js/header-filter.js?v={{time}}"></script>
{% endblock %}
